navbar(class="navbar navbar-expand-lg navbar-light bg-light")
    a(class="navbar-brand" href="#") Examen final
    button(class="navbar-toggler")
        span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse")
        ul(class="navbar-nav ml-auto")
            li(class="nav-item active")
                a(class="nav-link" href="/") Énoncé
            li(class="nav-item")
                a(class="nav-link" href="/examen/connexion") Connexion
            li(class="nav-item")
                a(class="nav-link" href="/examen/inscription") Inscription